* {
	box-sizing: border-box;
}

::marker {
	color: #cc8a60
}

.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
	content: "\f0c9";
	font-size: 25px;
}


/*******************LOADING*******************/
.tela-loading {
	position: absolute;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #efcead;
	z-index: 999;
}

.quadrado-loading {
	width: 100px;
	height: 100px;
	border: 5px #fff solid;
	display: flex;
	align-items: center;
	justify-content: center;
}

.icone-loading {
	animation: girarIcone forwards infinite 1s ease-in-out;
	width: 100%;
}

.icone-loading img {
	width: 100px;
}

@keyframes girarIcone {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/*******************TOPO*******************/
.topo {
	width: 100%;
	height: 150px;
	background-image: linear-gradient(1deg, #efcead, transparent);
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.topo-scroll .topo__fixo {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
	background-color: #fff;
	height: 22%;
}

/*.logo-topo {
	font-family: 'Great Vibes', cursive;
	color: #cc8a60;
	font-size: 2.5em;
	display: flex;
	flex-direction: column;
	text-align: center;
	}*/

.logo-topo {}

.menu-principal {
	width: 35rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.item__menu {
	font-size: 1.7rem;
	font-family: 'Great Vibes';
}


.menu-caio-wrapper {
	display: none;
}



/*******************SERVIÇOS*******************/
#servicos {
	height: auto;
	display: flex;
	justify-content: space-between;
	background-color: #f8e8d9;
	margin-top: 100px;
	scroll-margin-top: 150px;
	position: relative;
	top: 35px;
}

.servicos-tcc {
	margin: 3rem 1rem 1rem 2rem;
	width: 50%;
}

.titulo-tcc {
	padding: 10px;
	display: flex;
	justify-content: center;
	font-family: 'Comic Neue', cursive;
}

.tcc {
	line-height: 35px;
}

.list-serv {
	list-style: inside;
	line-height: 2em;
	font-family: 'Comic Neue', cursive;
}

.tcc-txt {
	padding: 30px 0 0 0;
	font-family: 'Comic Neue', cursive;
}

.espaco-blocos {
	display: flex;
	height: 22rem;
	margin: 5% 2%;
}

.blocos {
	background-color: #fff;
	border-radius: 20px;
	width: 340px;
	margin: 0 8px;
	padding: 30px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	-webkit-transition: all 300ms linear 0s;
	-o-transition: all 300ms linear 0s;
	transition: all 300ms linear 0s;
	font-family: 'Comic Neue', cursive;
}

.blocos h3 {
	font-family: 'Great Vibes';
	font-size: 2rem;
	color: #cd8e66;
}

.blocos:hover {
	border: 3px solid #cc8a60;
	padding: 22px 0;
}

.blocos img {
	padding: 5px 8px;
	-webkit-transition: all 300ms linear 0s;
	-o-transition: all 300ms linear 0s;
	transition: all 300ms linear 0s;
}

.blocos2 {
	background-color: #fff;
	border-radius: 20px;
	width: 340px;
	margin: 0 8px;
	padding: 30px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	-webkit-transition: all 300ms linear 0s;
	-o-transition: all 300ms linear 0s;
	transition: all 300ms linear 0s;
	font-family: 'Comic Neue', cursive;
}

.blocos2 h3 {
	font-family: 'Great Vibes';
	font-size: 2rem;
	color: #cd8e66;
}

.blocos2:hover {
	border: 3px solid #cc8a60;
	padding: 22px 0;
}

.blocos2 img {
	padding: 5px 8px;
	-webkit-transition: all 300ms linear 0s;
	-o-transition: all 300ms linear 0s;
	transition: all 300ms linear 0s;
}

.botao-botao {
	width: 40px;
	height: auto;
}

.botao-bloco {
	width: 60%;
	height: 12%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 20%;
	border-radius: 20px;
	border-color: #e99f70;
	background-color: #e79d6e;
	cursor: pointer;

}
.shake-vertical {
	-webkit-animation: shake-vertical 3s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
	        animation: shake-vertical 3s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}
.botao-bloco a {
    color: white;
    display: flex;
    align-items: center;
}
.botao-bloco:hover {
	background-color: #e9a579;
	border-color: #cc8a60;
}

.bloco-txt {
	padding: 40px 0;
}

.icone-bloco {
	width: 85px;
	height: auto;
	margin: 0 auto;
}



/*******************QUEM SOU*******************/
#quem-sou {
	display: flex;
	height: 520px;
	font-family: 'Comic Neue', cursive;
	scroll-margin-top: 150px;
}

.quem-img {
	flex: 1 1;
	background-image: url(../imagens/xuxucaio.jpg);
	background-attachment: fixed;
	background-size: 48%;
	background-position: left;
}

.quem-txt {
	flex: 1 1;
	padding: 25px;
	display: flex;
	align-items: center;
	flex-direction: column;
	border: 5px double #cc8a60;

}

.quem-txt h1 {
	color: #cd8e66;
	font-family: 'Great Vibes';
}

.quem-txt h2 {
	color: #cd8e66;
	font-family: 'Great Vibes';
	font-size: 2rem;
}

.principais-demandas {
	align-self: flex-start;
	margin-top: 15px;
}

.list-sobre {
	list-style: inside;
	line-height: 1.5em;
}

.txt-sobre {
	margin-bottom: 30px;
	line-height: 1.5em;
}

/*******************INSTAGRAM*******************/

#insta {
	background-color: #f8e8d9;
	scroll-margin-top: 160px;
}

.tanpom {
	width: 100%;
	height: 25px;
	position: relative;
	bottom: 45px;
	background-color: #f8e8d9;
}


/*******************FORMULARIO*******************/

#formulario {
	width: 100%;
	background-color: #f2d6ba8c;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	font-family: 'Comic Neue', cursive;
	scroll-margin-top: 150px;

}

.formularios {
	width: 50%;
	height: 100%;
	position: absolute;
	background-color: #f8e8d9;
	transition: left 1s;
	z-index: 1;
	left: 0;
}

.conteudo-form {
	width: 50%;
	padding: 2em 2em 2em 5em;
	box-sizing: border-box;
	background-color: #f8e8d9;
	z-index: 2;
}

.txt-form {
	margin: 0 50px 0 0;
}

.form-form {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	padding: 30px 0;
}

.form-label {
	width: 50%;
	margin-bottom: 15px;
}

.campo-form {
	display: block;
	margin-top: 5px;
}

.submit-form {
	margin: 0 auto;
}

.obs-form {
	width: 100%;
	padding: 35px 0;
}

.list-form {
	padding: 5px 0;
	list-style: disc;
}

#button-form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%);
	width: 70px;
	cursor: pointer;
	border-radius: 100%;
	background-color: white;
	border: 2px dotted #cc8a60;
}

.animeformularios {
	left: 50%;
}

.imagemform {
	border-style: none;
	object-fit: contain;
}

/*******************RODAPE*******************/

.rodape {
	width: 100%;
	height: 6em;
	display: flex;
}

.rodape-first {
	width: 100%;
	padding: 25px;
}

.logo-rodape {
	font-family: 'Great Vibes', cursive;
	color: #cc8a60;
	font-size: 2.3em;
	display: flex;
	text-align: center;
	justify-content: center;

}

.whatsapp-icon {
	display: none;
}

.copyright {
	display: flex;
	justify-content: center;
}

.direito-1 {
	height: 45px;
	font-family: 'Comic Neue';
	color: #bd5717;
}


/* --------- Responsivo ------------ */


@media (max-width: 750px) {

	.topo-menumobile {
		width: 100%;
		height: 100px;
		position: absolute;
		top: 0;
		background-color: #EFEFEF;
	}

	.menu-caio-wrapper {
		display: flex;
		transform: translateX(calc(287px));
		transition: all ease 250ms;
		position: fixed;
		top: 0;
		right: 0;
		z-index: 99999;
	}

	.botao-do-julio {
		width: 50px;
		height: 50px;
		margin: 10px 0;
		font-family: 'FontAwesome';
	}

	.lista-flutuante {
		width: 290px;
		height: 100vh;
		background-color: #f5e0cc;
		padding: 16px;
		box-sizing: border-box;
	}

	.nave-caio {
		padding: 20px 0;
		line-height: 38px;
	}

	.lista-caio {
		font-family: 'Comic Neue';
		font-size: 1.3rem;
		line-height: 4rem;
	}

	.numero-mobby {
		padding: 13px 0;
		line-height: 25px;
	}

	.item-mobby {
		display: flex;
		font-size: 15px;
	}

	.email-mobby {
		padding: 25px 0 40px 0;
		line-height: 25px;
	}

	.icone-mobby {
		display: flex;
		justify-content: space-evenly;
		width: 100%;
	}

	.fa-mobby {
		color: #000;
	}

	.indice-mobby {
		color: #000;
		font-weight: bold;
	}

	.ativo {
		transform: translateX(0);
	}

	.logo-topo {
		display: flex;
		width: 100%;
	}

}

@media only screen and (max-width: 1000px) {

	#formulario {
		display: none;
	}

	#servicos {
		display: block;
		position: relative;
		top: 35px;
	}

	.servicos-tcc {
		width: 96%;
		padding-top: 20px;
	}

	.espaco-blocos {
		padding-bottom: 30px;
		justify-content: space-around;
	}

	.bloco-txt {
		padding: 20px 0;
	}

	.img-whats {
		position: fixed;
		bottom: 52px;
		right: 59px;
	}

	.whatsapp-icon {
		display: block;
		position: fixed;
		right: 6%;
		bottom: 7%;
	}



	.whatsapp-animate-circulo-pulse, .whatsapp-btn-bg {
		-webkit-border-radius: 100%;
		-moz-border-radius: 100%
	}

	.animated.infinite {
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite
	}

	.zoomIn {
		-webkit-animation-name: zoomIn;
		animation-name: zoomIn
	}

	.animated {
		-webkit-animation-duration: 1s;
		animation-duration: 1s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both
	}


	.whatsapp-btn {
		display: none;
		z-index: 999999;
	}

	.whatsapp-animate-circulo-pulse {
		width: 90px;
		height: 90px;
		bottom: 28px;
		right: 35px;
		position: fixed;
		background-color: transparent;
		border-radius: 100%;
		border: 2px solid rgba(30, 30, 30, .4);
		opacity: .1;
		z-index: 999999;
		/* opacity: .5; */
	}

	.whatsapp-animate-circulo-pulse {
		border-color: #f39d65fa;
		z-index: 999999;
	}

	.whatsapp-btn-config {
		width: 60px;
		height: 58px;
		bottom: 43px;
		right: 50px;
		position: fixed;
		background: url(imagens/whatsappi.png) center center no-repeat rgba(30, 30, 30, .1);
		-webkit-border-radius: 100%;
		-moz-border-radius: 100%;
		opacity: 1;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-ms-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
		-webkit-transform-origin: 50% 50%;
		-moz-transform-origin: 50% 50%;
		-ms-transform-origin: 50% 50%;
		-o-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
		background-size: 100%;
		z-index: 999999;
	}



	.whatsapp-btn-bg,
	.whatsapp-btn-bg, .whatsapp-btn-config {
		background-color: #cc8a604a
	}


	.tada {
		-webkit-animation-name: tada;
		animation-name: tada
	}

	@-webkit-keyframes tada {
		from, to {
			-webkit-transform: scale3d(1, 1, 1);
			transform: scale3d(1, 1, 1)
		}

		10%, 20% {
			-webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
			transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg)
		}

		30%, 50%, 70%, 90% {
			-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
			transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg)
		}

		40%, 60%, 80% {
			-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
			transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg)
		}
	}

	@keyframes tada {
		from, to {
			-webkit-transform: scale3d(1, 1, 1);
			transform: scale3d(1, 1, 1)
		}

		10%, 20% {
			-webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
			transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg)
		}

		30%, 50%, 70%, 90% {
			-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
			transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg)
		}

		40%, 60%, 80% {
			-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
			transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg)
		}
	}

	@-webkit-keyframes zoomIn {
		from {
			opacity: 0;
			-webkit-transform: scale3d(.3, .3, .3);
			transform: scale3d(.3, .3, .3)
		}

		50% {
			opacity: 1
		}
	}

	@keyframes zoomIn {
		from {
			opacity: 0;
			-webkit-transform: scale3d(.3, .3, .3);
			transform: scale3d(.3, .3, .3)
		}

		50% {
			opacity: 1
		}
	}


	.direito-1 {
		padding: 0 5rem;
	}

	.menu-principal {
		justify-content: space-around;
	}



}

@-webkit-keyframes shake-vertical {
	0%,
	100% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	}
	10%,
	30%,
	50%,
	70% {
	  -webkit-transform: translateY(-8px);
			  transform: translateY(-8px);
	}
	20%,
	40%,
	60% {
	  -webkit-transform: translateY(8px);
			  transform: translateY(8px);
	}
	80% {
	  -webkit-transform: translateY(6.4px);
			  transform: translateY(6.4px);
	}
	90% {
	  -webkit-transform: translateY(-6.4px);
			  transform: translateY(-6.4px);
	}
  }
  @keyframes shake-vertical {
	0%,
	100% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	}
	10%,
	30%,
	50%,
	70% {
	  -webkit-transform: translateY(-8px);
			  transform: translateY(-8px);
	}
	20%,
	40%,
	60% {
	  -webkit-transform: translateY(8px);
			  transform: translateY(8px);
	}
	80% {
	  -webkit-transform: translateY(6.4px);
			  transform: translateY(6.4px);
	}
	90% {
	  -webkit-transform: translateY(-6.4px);
			  transform: translateY(-6.4px);
	}
  }
  

@media only screen and (max-width: 750px) {

	.txt-sobre {
		margin-bottom: 15px;
		line-height: 1.5em;
	}

	.menu-principal {
		display: none;
	}

	#menu, .sub-menu {
		display: block;
	}

	.botao-bloco {
		font-size: 10px;
	}


}